# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
ser1 = pd.Series(np.random.randint(1, 4, 100))
ser2 = pd.Series(np.random.randint(1, 3, 100))
ser3 = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [14]:
df = pd.DataFrame([ser1, ser2, ser3], columns=['bedrs', 'bathrs', 'price_sqr_meter'])

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [15]:
ser = pd.concat([ser1, ser2, ser3], axis=0)
bigcolumn_df = ser.to_frame()
bigcolumn_df.head()

   0
0  1
1  2
2  3
3  3
4  1

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [17]:
bigcolumn_df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [19]:
bigcolumn_df.reset_index(drop=True)

         0
0        1
1        2
2        3
3        3
4        1
..     ...
295  25615
296  14443
297  29288
298  18393
299  20150

[300 rows x 1 columns]